:root {
  --violet-dim:    #147636;
  --violet-mid:    #12ce51;
  --violet-bright: #06b340;
  --violet-glow:   #5cb028;

  --blue-dim:      #03bd4a;
  --blue-mid:      #099136;
  --blue-accent:   #079636;
  --blue-light:    #097932;

  --glow-violet: 0 0 20px rgba(11, 168, 63, .3);

  --text-primary:   #005600;
  --text-secondary: #277142;
  --text-muted:     #0a6227;
  --text-inverse:   #a5f8b2;
}